//
// Document element
//

@if $enable-normalize {

	html {
		@if $enable-normalize-v6 {
			line-height: 1.15;
			-ms-text-size-adjust: 100%;
			-webkit-text-size-adjust: 100%;
		}

		@if $enable-normalize-v1 {
			font-family: sans-serif;
			font-size: 100%;
			-webkit-text-size-adjust: 100%;
			-ms-text-size-adjust: 100%;
		}

		& [type="button"] {
			@if $enable-normalize-v6 {
				-webkit-appearance: button;
			}
		}

		& input[type="button"] {
			@if $enable-normalize-v1 {
				-webkit-appearance: button;
				cursor: pointer;
				*overflow: visible;
			}
		}
	}

}