//
// Embedded content
//

@if $enable-normalize {

	area {

	}

	iframe {

	}

	img {
		@if $enable-normalize-v6 {
			border-style: none;
		}

		@if $enable-normalize-v1 {
			border: 0;
			-ms-interpolation-mode: bicubic;
		}
	}

	map {

	}

	object {

	}

	param {

	}

	@if $enable-html4 {

		applet {

		}

		bgsound {

		}

		frame {

		}

		frameset {

		}
	}

	@if $enable-html5 {

		audio {
			@if $enable-normalize-v1 or $enable-normalize-v6 {
				display: inline-block;

				@if $enable-normalize-v1 {
					*display: inline;
					*zoom: 1;
				}

				&:not([controls]) {
					display: none;
					height: 0;
				}
			}
		}

		embed {

		}

		picture {

		}

		source {

		}

		svg {
			@if $enable-normalize-v1 or $enable-normalize-v6 {
				&:not(:root) {
					overflow: hidden;
				}
			}
		}

		track {

		}

		video {
			@if $enable-normalize-v1 {
				display: inline-block;
				*display: inline;
				*zoom: 1;
			}
		}
	}
}