//
// Forms
//

@if $enable-normalize {

	form {
		@if $enable-normalize-v1 {
			margin: 0;
		}
	}

	button {
		@if $enable-normalize-v6 {
			margin: 0;
			overflow: visible;
			text-transform: none;
			-webkit-appearance: button;
		}

		@if $enable-normalize-v1 {
			font-family: sans-serif;
			font-size: 100%;
			margin: 0;
			vertical-align: baseline;
			*vertical-align: middle;
			line-height: normal;
			-webkit-appearance: button;
			cursor: pointer;
			*overflow: visible;
		}

		&[disabled] {
			@if $enable-normalize-v1 {
				cursor: default;
			}
		}

		&::-moz-focus-inner {
			@if $enable-normalize-v6 {
				border-style: none;
			}

			@if $enable-normalize-v1 {
				border: 0;
			}

			@if $enable-normalize-v1 or $enable-normalize-v6 {
				padding: 0;
			}
		}

		&:-moz-focusring {
			@if $enable-normalize-v6 {
				outline: 1px dotted ButtonText;
			}
		}
	}

	fieldset {
		@if $enable-normalize-v1 {
			border: 1px solid #c0c0c0;
			margin: 0 2px;
			padding: 0.35em 0.625em 0.75em;
		}
	}

	input {
		@if $enable-normalize-v6 {
			margin: 0;
			overflow: visible;
		}

		@if $enable-normalize-v1 {
			font-family: sans-serif;
			font-size: 100%;
			margin: 0;
			vertical-align: baseline;
			*vertical-align: middle;
			line-height: normal;

			&[disabled] {
				cursor: default;
			}

			&::-moz-focus-inner {
				border: 0;
				padding: 0;
			}
		}

		&[type="button"] {
			&::-moz-focus-inner {
				@if $enable-normalize-v6 {
					border-style: none;
					padding: 0;
				}
			}

			&:-moz-focusring {
				@if $enable-normalize-v6 {
					outline: 1px dotted ButtonText;
				}
			}
		}

		&[type="checkbox"] {
			@if $enable-normalize-v6 {
				box-sizing: border-box;
				padding: 0;
			}

			@if $enable-normalize-v1 {
				box-sizing: border-box;
				padding: 0;
				*height: 13px;
				*width: 13px;
			}
		}

		&[type="file"] {

		}

		&[type="hidden"] {

		}

		&[type="image"] {

		}

		&[type="password"] {

		}

		&[type="radio"] {
			@if $enable-normalize-v6 {
				box-sizing: border-box;
				padding: 0;
			}

			@if $enable-normalize-v1 {
				box-sizing: border-box;
				padding: 0;
				*height: 13px;
				*width: 13px;
			}
		}

		&[type="reset"] {
			@if $enable-normalize-v1 {
				cursor: pointer;
				*overflow: visible;
			}

			@if $enable-normalize-v1 or $enable-normalize-v6 {
				-webkit-appearance: button;
			}

			&::-moz-focus-inner {
				@if $enable-normalize-v6 {
					border-style: none;
					padding: 0;
				}
			}

			&:-moz-focusring {
				@if $enable-normalize-v6 {
					outline: 1px dotted ButtonText;
				}
			}
		}

		&[type="submit"] {
			@if $enable-normalize-v1 {
				cursor: pointer;
				*overflow: visible;
			}

			@if $enable-normalize-v1 or $enable-normalize-v6 {
				-webkit-appearance: button;
			}

			&::-moz-focus-inner {
				@if $enable-normalize-v6 {
					border-style: none;
					padding: 0;
				}
			}

			&:-moz-focusring {
				@if $enable-normalize-v6 {
					outline: 1px dotted ButtonText;
				}
			}
		}

		&[type="text"] {

		}

		@if $enable-html5 {

			&[type="color"] {

			}

			&[type="date"] {

			}

			&[type="datetime"] {

			}

			&[type="datetime-local"] {

			}

			&[type="email"] {

			}

			&[type="month"] {

			}

			&[type="number"] {
				&::-webkit-inner-spin-button {
					@if $enable-normalize-v6 {
						height: auto;
					}
				}

				&::-webkit-outer-spin-button {
					@if $enable-normalize-v6 {
						height: auto;
					}
				}
			}

			&[type="range"] {

			}

			&[type="search"] {
				@if $enable-normalize-v6 {
					-webkit-appearance: textfield;
					outline-offset: -2px;
				}

				@if $enable-normalize-v1 {
					-webkit-appearance: textfield;
					-moz-box-sizing: content-box;
					-webkit-box-sizing: content-box;
					box-sizing: content-box;
				}

				&::-webkit-search-cancel-button {
					@if $enable-normalize-v1 or $enable-normalize-v6 {
						-webkit-appearance: none;
					}
				}

				&::-webkit-search-decoration {
					@if $enable-normalize-v1 or $enable-normalize-v6 {
						-webkit-appearance: none;
					}
				}
			}

			&[type="tel"] {

			}

			&[type="time"] {

			}

			&[type="url"] {

			}

			&[type="week"] {

			}
		}
	}

	label {

	}

	legend {
		@if $enable-normalize-v6 {
			box-sizing: border-box;
			color: inherit;
			display: table;
			max-width: 100%;
			padding: 0;
			white-space: normal;
		}

		@if $enable-normalize-v1 {
			border: 0;
			padding: 0;
			white-space: normal;
			*margin-left: -7px;
		}
	}

	optgroup {
		@if $enable-normalize-v6 {
			margin: 0;
		}
	}

	option {

	}

	select {
		@if $enable-normalize-v6 {
			margin: 0;
			text-transform: none;
		}

		@if $enable-normalize-v1 {
			font-family: sans-serif;
			font-size: 100%;
			margin: 0;
			vertical-align: baseline;
			*vertical-align: middle;
		}
	}

	textarea {
		@if $enable-normalize-v6 {
			margin: 0;
			overflow: auto;
		}

		@if $enable-normalize-v1 {
			font-family: sans-serif;
			font-size: 100%;
			margin: 0;
			vertical-align: baseline;
			*vertical-align: middle;
			overflow: auto;
			vertical-align: top;
		}
	}

	@if $enable-html5 {

		datalist {

		}

		keygen {

		}

		meter {

		}

		output {

		}

		progress {
			@if $enable-normalize-v6 {
				display: inline-block;
				vertical-align: baseline;
			}
		}

		::-webkit-file-upload-button {
			@if $enable-normalize-v6 {
				-webkit-appearance: button;
				font: inherit;
			}
		}
	}
}
