//
// Scripting
//

@if $enable-normalize {

	@if $enable-html5 {

		canvas {
			@if $enable-normalize-v6 {
				display: inline-block;
			}

			@if $enable-normalize-v1 {
				display: inline-block;
				*display: inline;
				*zoom: 1;
			}
		}

		template {
			@if $enable-normalize-v6 {
				display: none;
			}
		}
	}
}