//
// Document element
//

@if $enable-my-opinion {

	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	html {
		font-family: sans-serif;
		line-height: 1.15;
		-ms-text-size-adjust: 100%;
		-webkit-text-size-adjust: 100%;
		-ms-overflow-style: scrollbar;
		-webkit-tap-highlight-color: transparent;

		& [type="button"] {
			-webkit-appearance: button;
		}
	}

	@at-root {
		@-ms-viewport {
			width: device-width;
		}
	}

	::selection {

	}

	// Scrollbar
	@if $enable-scrollbar {

		::-webkit-scrollbar {
			background-color: #F5F5F5;
			width: 1rem;
		}

		::-webkit-scrollbar-button {
			background-color: #7c2929;

			&:disabled {

			}
		}

		::-webkit-scrollbar-button:double-button:horizontal:end:decrement {

		}

		::-webkit-scrollbar-button:double-button:horizontal:end:increment {

		}

		::-webkit-scrollbar-button:double-button:horizontal:end:increment:corner-present {

		}

		::-webkit-scrollbar-button:double-button:horizontal:start:decrement {

		}

		::-webkit-scrollbar-button:double-button:horizontal:start:increment {

		}

		::-webkit-scrollbar-button:double-button:vertical:end:decrement {

		}

		::-webkit-scrollbar-button:double-button:vertical:end:increment {

		}

		::-webkit-scrollbar-button:double-button:vertical:end:increment:corner-present {

		}

		::-webkit-scrollbar-button:double-button:vertical:start:decrement {

		}

		::-webkit-scrollbar-button:double-button:vertical:start:increment {

		}

		::-webkit-scrollbar-button {

			&:end {

				&:decrement {

				}

				&:increment {

				}

				&:horizontal {

					&:decrement {
						&:active {

						}

						&:hover {

						}
					}
				}
			}
		}

		::-webkit-scrollbar-button:horizontal:decrement:window-inactive {

		}

		::-webkit-scrollbar-button:horizontal:end {

		}

		::-webkit-scrollbar-button:horizontal:end:decrement {

		}

		::-webkit-scrollbar-button:horizontal:end:increment {

		}

		::-webkit-scrollbar-button:horizontal:end:increment:corner-present {

		}

		::-webkit-scrollbar-button:horizontal:increment {

		}

		::-webkit-scrollbar-button:horizontal:increment:active {

		}

		::-webkit-scrollbar-button:horizontal:increment:hover {

		}

		::-webkit-scrollbar-button:horizontal:increment:window-inactive {

		}

		::-webkit-scrollbar-button:horizontal:start {

		}

		::-webkit-scrollbar-button:horizontal:start:decrement {

		}

		::-webkit-scrollbar-button:horizontal:start:increment {

		}

		::-webkit-scrollbar-button:start {

		}

		::-webkit-scrollbar-button:start:decrement {

		}

		::-webkit-scrollbar-button:start:increment {

		}

		::-webkit-scrollbar-button:vertical {

		}

		::-webkit-scrollbar-button:vertical:decrement {

		}

		::-webkit-scrollbar-button:vertical:decrement:active {

		}

		::-webkit-scrollbar-button:vertical:decrement:hover {

		}

		::-webkit-scrollbar-button:vertical:decrement:window-inactive {

		}

		::-webkit-scrollbar-button:vertical:end {

		}

		::-webkit-scrollbar-button:vertical:end:decrement {

		}

		::-webkit-scrollbar-button:vertical:end:increment {

		}

		::-webkit-scrollbar-button:vertical:end:increment:corner-present {

		}

		::-webkit-scrollbar-button:vertical:increment {

		}

		::-webkit-scrollbar-button:vertical:increment:active {

		}

		::-webkit-scrollbar-button:vertical:increment:hover {

		}

		::-webkit-scrollbar-button:vertical:increment:window-inactive {

		}

		::-webkit-scrollbar-button:vertical:start {

		}

		::-webkit-scrollbar-button:vertical:start:decrement {

		}

		::-webkit-scrollbar-button:vertical:start:increment {

		}

		::-webkit-scrollbar-corner {
			background-color: black;

			&:window-inactive {

			}
		}

		::-webkit-scrollbar-thumb {
			background-color: #000000;
		}

		::-webkit-scrollbar-thumb:horizontal {

		}

		::-webkit-scrollbar-thumb:horizontal:active {

		}

		::-webkit-scrollbar-thumb:horizontal:hover {

		}

		::-webkit-scrollbar-thumb:horizontal:window-inactive {

		}

		::-webkit-scrollbar-thumb:vertical {

		}

		::-webkit-scrollbar-thumb:vertical:active {

		}

		::-webkit-scrollbar-thumb:vertical:hover {

		}

		::-webkit-scrollbar-thumb:vertical:window-inactive {

		}

		::-webkit-scrollbar-track {
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
			background-color: #F5F5F5;
		}

		::-webkit-scrollbar-track-piece {

		}

		::-webkit-scrollbar-track-piece:disabled {

		}

		::-webkit-scrollbar-track-piece:end {

		}

		::-webkit-scrollbar-track-piece:horizontal:decrement {

		}

		::-webkit-scrollbar-track-piece:horizontal:decrement:active {

		}

		::-webkit-scrollbar-track-piece:horizontal:decrement:hover {

		}

		::-webkit-scrollbar-track-piece:horizontal:end {

		}

		::-webkit-scrollbar-track-piece:horizontal:end:corner-present {

		}

		::-webkit-scrollbar-track-piece:horizontal:end:double-button {

		}

		::-webkit-scrollbar-track-piece:horizontal:end:no-button {

		}

		::-webkit-scrollbar-track-piece:horizontal:end:no-button:corner-present {

		}

		::-webkit-scrollbar-track-piece:horizontal:end:single-button {

		}

		::-webkit-scrollbar-track-piece:horizontal:increment {

		}

		::-webkit-scrollbar-track-piece:horizontal:increment:active {

		}

		::-webkit-scrollbar-track-piece:horizontal:increment:hover {

		}

		::-webkit-scrollbar-track-piece:horizontal:start {

		}

		::-webkit-scrollbar-track-piece:horizontal:start:double-button {

		}

		::-webkit-scrollbar-track-piece:horizontal:start:no-button {

		}

		::-webkit-scrollbar-track-piece:horizontal:start:single-button {

		}

		::-webkit-scrollbar-track-piece:start {

		}

		::-webkit-scrollbar-track-piece:vertical:decrement {

		}

		::-webkit-scrollbar-track-piece:vertical:decrement:active {

		}

		::-webkit-scrollbar-track-piece:vertical:decrement:hover {

		}

		::-webkit-scrollbar-track-piece:vertical:end {

		}

		::-webkit-scrollbar-track-piece:vertical:end:corner-present {

		}

		::-webkit-scrollbar-track-piece:vertical:end:double-button {

		}

		::-webkit-scrollbar-track-piece:vertical:end:no-button {

		}

		::-webkit-scrollbar-track-piece:vertical:end:no-button:corner-present {

		}

		::-webkit-scrollbar-track-piece:vertical:end:single-button {

		}

		::-webkit-scrollbar-track-piece:vertical:increment {

		}

		::-webkit-scrollbar-track-piece:vertical:increment:active {

		}

		::-webkit-scrollbar-track-piece:vertical:increment:hover {

		}

		::-webkit-scrollbar-track-piece:vertical:start {

		}

		::-webkit-scrollbar-track-piece:vertical:start:double-button {

		}

		::-webkit-scrollbar-track-piece:vertical:start:no-button {

		}

		::-webkit-scrollbar-track-piece:vertical:start:single-button {

		}

		::-webkit-scrollbar-track:disabled {

		}

		::-webkit-scrollbar-track:horizontal {

		}

		::-webkit-scrollbar-track:horizontal:disabled {

		}

		::-webkit-scrollbar-track:horizontal:disabled:corner-present {

		}

		::-webkit-scrollbar-track:vertical:disabled {

		}

		::-webkit-scrollbar-track:vertical:disabled:corner-present {

		}

		::-webkit-scrollbar:horizontal {

		}

		::-webkit-scrollbar:horizontal:corner-present {

		}

		::-webkit-scrollbar:horizontal:window-inactive {

		}

		::-webkit-scrollbar:vertical {

		}

		::-webkit-scrollbar:vertical:corner-present {

		}

		::-webkit-scrollbar:vertical:window-inactive {

		}

		::-webkit-textfield-decoration-container {

		}
	}
}