//
// Embedded content
//

@if $enable-my-opinion {
	area {
		-ms-touch-action: manipulation;
		touch-action: manipulation;
	}

	iframe {

	}

	img {
		border-style: none;
		vertical-align: middle;

		&::-webkit-image-inner-element {

		}
	}

	map {

	}

	object {

	}

	param {

	}

	@if $enable-html4 {
		applet {

		}

		bgsound {

		}

		frame {

		}

		frameset {

		}
	}

	@if $enable-html5 {
		audio {
			display: inline-block;

			&:not([controls]) {
				display: none;
				height: 0;
			}

			&::-webkit-media-controls-panel {

			}

			&::-webkit-media-controls-mute-button {

			}

			&::-webkit-media-controls-play-button {

			}

			&::-webkit-media-controls-timeline-container {

			}

			&::-webkit-media-controls-current-time-display {

			}

			&::-webkit-media-controls-time-remaining-display {

			}

			&::-webkit-media-controls-timeline {

			}

			&::-webkit-media-controls-volume-slider-container {

			}

			&::-webkit-media-controls-volume-slider {

			}

			&::-webkit-media-controls-seek-back-button {

			}

			&::-webkit-media-controls-seek-forward-button {

			}

			&::-webkit-media-controls-fullscreen-button {

			}

			&::-webkit-media-controls-rewind-button {

			}

			&::-webkit-media-controls-return-to-realtime-button {

			}

			&::-webkit-media-controls-toggle-closed-captions-button {

			}
		}

		embed {

		}

		picture {

		}

		source {

		}

		svg {

			&:not(:root) {
				overflow: hidden;
			}
		}

		track {

		}

		video {
			display: inline-block;

			&::-webkit-media-controls-panel {

			}

			&::-webkit-media-controls-play-button {

			}

			&::-webkit-media-controls-volume-slider-container {

			}

			&::-webkit-media-controls-volume-slider {

			}

			&::-webkit-media-controls-mute-button {

			}

			&::-webkit-media-controls-timeline {

			}

			&::-webkit-media-controls-current-time-display {

			}

			&::-webkit-full-page-media::-webkit-media-controls-panel {

			}

			&::-webkit-media-controls-timeline-container {

			}

			&::-webkit-media-controls-time-remaining-display {

			}

			&::-webkit-media-controls-seek-back-button {

			}

			&::-webkit-media-controls-seek-forward-button {

			}

			&::-webkit-media-controls-fullscreen-button {

			}

			&::-webkit-media-controls-overlay-play-button {

			}

			&::-webkit-media-controls-rewind-button {

			}

			&::-webkit-media-controls-return-to-realtime-button {

			}

			&::-webkit-media-controls-toggle-closed-captions-button {

			}
		}
	}
}