//
// Embedded content
//

@if $enable-my-opinion {
	area {
		-ms-touch-action: manipulation;
		touch-action: manipulation;
	}

	iframe {

	}

	img {
		border-style: none;
		vertical-align: middle;
	}

	map {

	}

	object {

	}

	param {

	}

	@if $enable-html4 {
		applet {

		}

		bgsound {

		}

		frame {

		}

		frameset {

		}
	}

	@if $enable-html5 {
		audio {
			display: inline-block;

			&:not([controls]) {
				display: none;
				height: 0;
			}
		}

		embed {

		}

		picture {

		}

		source {

		}

		svg {

			&:not(:root) {
				overflow: hidden;
			}
		}

		track {

		}

		video {
			display: inline-block;
		}
	}
}