//
// Forms
//

@if $enable-my-opinion {
	button, input, optgroup, select, textarea {
		margin: 0;
		font-family: inherit;
	}

	form {

	}

	button {
		border: 1px solid transparent;
		border-radius: 0;
		display: inline-block;
		font-size: $font-size-base;
		line-height: $line-height-base;
		padding: .375rem .75rem;
		text-align: center;
		text-transform: none;
		-webkit-appearance: button;
		touch-action: manipulation;
		user-select: none;
		vertical-align: middle;
		white-space: nowrap;
		overflow: visible;

		&:disabled {
			opacity: .65;
		}

		&:focus {
			outline: 1px dotted;
			outline: 5px auto -webkit-focus-ring-color;
			text-decoration: none;
		}

		&:hover {
			cursor: pointer;
			text-decoration: none;
		}

		&::-moz-focus-inner {
			border-style: none;
			padding: 0;
		}
	}

	[role="button"] {
		touch-action: manipulation;
	}

	fieldset {

	}

	input {
		background-clip: padding-box;
		background-color: $white;
		background-image: none;
		border: 1px solid $black;
		border-radius: 0;
		display: block;
		font-size: $font-size-base;
		line-height: $line-height-base;
		padding: .375rem .75rem;
		width: 100%;
		overflow: visible;

		&[type="file"] {
			border-style: none;
		}

		&:not([type="range"]) {
			touch-action: manipulation;
		}

		&:valid + label {
			&::after {

			}
		}

		&:invalid + label {
			&::after {

			}
		}

		&:placeholder-shown {

		}

		&:-webkit-autofill {

			&:hover {

			}

			&:focus {

			}
		}

		// Chrome/Opera/Safari
		&::-webkit-input-placeholder {

		}

		&::-webkit-input-list-button {

		}

		&::-webkit-input-speech-button {

		}

		&::-webkit-textfield-decoration-container {

		}

		&::-webkit-calendar-picker-indicator {

		}

		// Firefox 18-
		&:-moz-placeholder {

		}

		// Firefox 19+
		&::-moz-placeholder {

		}

		&::-moz-focus-inner {

		}

		// IE 10+
		&:-ms-input-placeholder {

		}

		&::-ms-clear {

		}
	}

	[type="button"] {

		&::-moz-focus-inner {
			border-style: none;
			padding: 0;
		}

		&:hover {
			cursor: pointer;
		}
	}

	[type="checkbox"] {
		appearance: none;
		opacity: 0;
		position: absolute;
		z-index: -1;

		& + label {
			cursor: pointer;
			margin-right: $spacer;
			position: relative;

			&:before {
				background-color: $gray-500;
				content: '';
				display: inline-block;
				margin-right: ($spacer / 2);
				vertical-align: text-top;
				width: 20px;
				height: 20px;
			}
		}

		&:checked {
			& + label {
				&:after {
					content: '';
					//position: absolute;
					//left: 5px;
					//top: 9px;
					//background: white;
					//width: 2px;
					//height: 2px;
					//box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
					//transform: rotate(45deg);
					position: absolute;
					top: 0;
					left: 0;
					display: block;
					pointer-events: none;
					user-select: none;
					width: 20px;
					height: 20px;
					background-color: $black;
					background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
					background-position: center center;
					background-repeat: no-repeat;
					background-size: 50% 50%;
				}
			}

		}

		&:focus {
			& + label {
				&:before {
					//box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
				}
			}
		}

		&:hover {
			& + label {
				&:before {
					background-color: $gray-400;
				}
			}
		}

		&:disabled {
			& + label {
				color: $gray-500;
				cursor: auto;

				&:before {
					//box-shadow: none;
					background-color: $gray-300;
				}
			}
		}

		&::-ms-check {
			display: none;
		}
	}

	[type="file"] {
		padding-left: 0;

		&:hover {
			cursor: pointer;
		}

		&::-webkit-file-upload-button {
			border: 1px solid $black;
			border-radius: 0;
			cursor: pointer;
			font: inherit;
			-webkit-appearance: button;
		}

		&::-ms-browse {

		}

		&::-ms-value {

		}

		&::-webkit-file-upload-button {

		}

		&:focus {
			&::-webkit-file-upload-button {

			}
		}

		&:active {
			&::-webkit-file-upload-button {

			}
		}

		&:active {
			&:disabled {
				&::-webkit-file-upload-button {

				}
			}
		}

		& > input[type="button"] {
			&::-moz-focus-inner {

			}
		}
	}

	[type="hidden"] {

	}

	[type="image"] {
		max-height: 2.4rem;
		padding: 0;
	}

	[type="password"] {

		&::-ms-reveal {

		}

		&::-ms-value {

		}
	}

	[type="radio"] {
		appearance: none;
		opacity: 0;
		position: absolute;
		z-index: -1;

		& + label {
			cursor: pointer;
			margin-right: $spacer;
			position: relative;

			&:before {
				background-color: $gray-500;
				border-radius: 50%;
				content: '';
				display: inline-block;
				margin-right: ($spacer / 2);
				vertical-align: text-top;
				width: 20px;
				height: 20px;
			}
		}

		&:checked {
			& + label {
				&:after {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					display: block;
					pointer-events: none;
					user-select: none;
					width: 20px;
					height: 20px;
					background-color: $black;
					background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E");
					background-position: center center;
					background-repeat: no-repeat;
					background-size: 50% 50%;
					border-radius: 50%;
				}
			}
		}

		&:focus {
			& + label {
				&:before {
					//box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
				}
			}
		}

		&:hover {
			& + label {
				&:before {
					background-color: $gray-400;
				}
			}
		}

		&:disabled {
			& + label {
				color: $gray-500;
				cursor: auto;

				&:before {
					background-color: $gray-300;
				}
			}
		}

		&::-ms-check {
			display: none;
		}
	}

	[type="reset"] {
		-webkit-appearance: button;

		&:hover {
			cursor: pointer;
		}

		&::-moz-focus-inner {
			border-style: none;
			padding: 0;
		}
	}

	[type="submit"] {
		-webkit-appearance: button;

		&:hover {
			cursor: pointer;
		}

		&::-moz-focus-inner {
			border-style: none;
			padding: 0;
		}
	}

	[type="text"] {

		&:read-only {

		}

		&:-moz-read-only {

		}

		&::-ms-value {

		}

		&::-ms-clear {

		}
	}

	@if $enable-html5 {

		[type="color"] {
			height: 2.4rem;
			padding: 0;

			&:hover {
				cursor: pointer;
			}

			&::-webkit-color-swatch {
				border: none;
			}

			&::-webkit-color-swatch-wrapper {

			}

			&::-moz-color-swatch {
				border: none;
			}

			&:-moz-color-swatch-wrapper {

			}

			&::-moz-focus-inner {
				//border: none;
			}

			&:-ms-color-swatch-wrapper {

			}
		}

		[type="date"] {
			-webkit-appearance: listbox;

			&::-webkit-datetime-edit {

			}

			&::-webkit-datetime-edit-fields-wrapper {

			}

			&::-webkit-datetime-edit-text {

			}

			&::-webkit-datetime-edit-month-field {

			}

			&::-webkit-datetime-edit-day-field {

			}

			&::-webkit-datetime-edit-year-field {

			}

			&::-webkit-inner-spin-button {

			}

			&::-webkit-calendar-picker-indicator {

			}

			&::-webkit-clear-button {

			}
		}

		// obsolete: replaced by datetime-local
		//[type="datetime"] {
		//
		//}

		[type="datetime-local"] {
			-webkit-appearance: listbox;
		}

		[type="email"] {

			&:invalid {

			}

			&:valid {

			}
		}

		[type="month"] {
			-webkit-appearance: listbox;
		}

		[type="number"] {

			&:in-range {

			}

			&:out-of-range {

			}

			&::-webkit-textfield-decoration-container {

			}

			&::-webkit-textfield-decoration-container {
				&:before {

				}
			}

			&::-webkit-textfield-decoration-container {
				&:after {

				}
			}

			&::-webkit-inner-spin-button {
				height: auto;
			}

			&::-webkit-outer-spin-button {
				height: auto;
			}

			&::-moz-number-wrapper {

			}

			&::-moz-number-text {

			}

			&::-moz-number-spin-box {

			}

			&::-moz-number-spin-up {

			}

			&::-moz-number-spin-down {

			}
		}

		[type="range"] {
			appearance: none;
			background: transparent;
			border: none;
			display: block;
			margin: 0;
			padding: 0;
			height: $spacer;
			width: 100%;

			&:focus {
				outline: none;

				&::-webkit-slider-runnable-track {

				}

				&::-ms-fill-lower {

				}

				&::-ms-fill-upper {

				}
			}

			&::-webkit-slider-runnable-track {
				background-color: $gray-500;
				border: none;
				height: $spacer;
				width: 100%;
			}

			&::-webkit-slider-thumb {
				appearance: none;
				background-color: #000;
				border: none;
				cursor: pointer;
				height: $spacer;
				width: $spacer;
			}

			&::-moz-range-thumb {
				background-color: #000;
				border: none;
				border-radius: 0;
				cursor: pointer;
				height: $spacer;
				width: $spacer;
			}

			&::-moz-range-track {
				background-color: $gray-500;
				border: none;
				height: $spacer;
				width: 100%;
			}

			&::-ms-fill-lower {
				background-color: $gray-500;
			}

			&::-ms-fill-upper {

			}
			 
			&::-ms-tooltip {

			}
			 
			&::-ms-ticks-before {

			}
			 
			&::-ms-ticks-after {

			}
			 
			&::-ms-thumb {
				background-color: #000;
				border: none;
				cursor: pointer;
				height: $spacer;
				width: $spacer;
			}
			 
			&::-ms-track {
				background: transparent; 
				background-color: $gray-500;
				border-color: transparent;
				color: transparent;
				cursor: pointer;
				display: block;
				height: $spacer;
				width: 100%;
			}

/*
			&::-webkit-slider-container

			&::-webkit-media-slider-container

			&::-webkit-slider-runnable-track

			&:focus::-webkit-slider-runnable-track

			&::-webkit-slider-thumb

			&::-webkit-slider-thumb:before

			&::-webkit-slider-thumb:after

			&:active::-webkit-slider-thumb

			&:hover::-webkit-slider-thumb:before

			&:hover::-webkit-slider-thumb:after

			&:focus::-webkit-slider-thumb:before

			&:focus::-webkit-slider-thumb:after

			&:disabled::-webkit-slider-thumb:before

			&:disabled::-webkit-slider-thumb:after

			&::-webkit-media-slider-thumb

			&:disabled::-webkit-slider-thumb

			&:hover::-webkit-slider-thumb

			&:focus::-webkit-slider-thumb

			&::-webkit-color-swatch-wrapper

			&::-webkit-color-swatch

			&::-moz-range-track

			&[orient=vertical]::-moz-range-track

			&:focus::-moz-range-track

			&::-moz-range-progress

			&::-moz-range-thumb

			&:focus::-moz-range-thumb

			&:focus::-moz-range-thumb:before

			&:focus::-moz-range-thumb:after

			&::-moz-focus-outer

			&::-ms-fill-lower

			&::-ms-fill-upper

			&::-ms-ticks-before

			&::-ms-ticks-after

			&::-ms-thumb

			&::-ms-thumb:hover

			&::-ms-track

			&:focus::-ms-track

			&::ms-tooltip
*/
		}

		[type="search"] {
			-webkit-appearance: none;
			outline-offset: -2px;

			&::-webkit-search-cancel-button {
				-webkit-appearance: none;

				&:after {

				}
			}

			&::-webkit-search-decoration {
				-webkit-appearance: none;
			}

			&::-webkit-search-results-decoration {
				
			}

			&::-webkit-search-results-button {
				
			}

			&::-webkit-textfield-decoration-container {
				
			}

		}

		[type="tel"] {

		}

		[type="time"] {
			-webkit-appearance: listbox;

			&::-ms-clear {

			}

			&::-webkit-clear-button {

			}
		}

		[type="url"] {

		}

		[type="week"] {

		}
	}

	label {
		display: inline-block;
		touch-action: manipulation;
	}

	legend {

	}

	optgroup {
		font-family: inherit;
	}

	option {

	}

	select {
		//appearance: none;
		background-clip: padding-box;
		background-color: $white;
		background-image: none;
		border: 1px solid $black;
		border-radius: 0;
		display: block;
		font-size: $font-size-base;
		line-height: $line-height-base;
		padding: .375rem .75rem;
		text-transform: none;
		width: 100%;
		touch-action: manipulation;

		&:not([size]) {
			&:not([multiple]) {
				height: calc(2.25rem + 2px);
			}
		}

		&:-webkit-autofill {
			&:hover {

			}

			&:focus {

			}
		}

		&::-ms-expand {
			//display: none;
		}
	}

	textarea {
		background-clip: padding-box;
		background-color: $white;
		background-image: none;
		border: 1px solid $black;
		border-radius: 0;
		display: block;
		font-size: $font-size-base;
		line-height: $line-height-base;
		padding: .375rem .75rem;
		resize: vertical;
		width: 100%;
		overflow: auto;
		touch-action: manipulation;

		&:-webkit-autofill {
			&:hover {

			}

			&:hover {

			}
		}

		&::-webkit-resizer {

		}

		&::-webkit-resizer:window-inactive {

		}

		&::-webkit-input-placeholder {

		}

		&::-moz-placeholder {

		}
	}

	@if $enable-html5 {

		datalist {

		}

		keygen {

		}

		meter {
			//-webkit-appearance: continuous-capacity-level-indicator;
			//-webkit-appearance: discrete-capacity-level-indicator;
			//-webkit-appearance: relevancy-level-indicator;
			//-webkit-appearance: rating-level-indicator;
			background: none;
			background-color: $gray-500;
			border: 0;
			display: block;
			height: $spacer;
			width: 100%;

			&::-webkit-meter {

			}

			&::-webkit-meter-bar {
				background: none;
				background-color: $gray-500;
			}

			&::-webkit-meter-inner-element {

			}

			&::-webkit-meter-optimum-value {
				background: green;
			}

			&::-webkit-meter-suboptimum-value {
				background: yellow;
			}

			&::-webkit-meter-even-less-good-value {
				background: red;
			}

			&::-webkit-meter-horizontal-bar {

			}

			&::-webkit-meter-horizontal-optimum-value {

			}

			&::-webkit-meter-horizontal-suboptimal-value {

			}

			&::-webkit-meter-horizontal-even-less-good-value {

			}

			&::-webkit-meter-vertical-bar {

			}

			&::-webkit-meter-vertical-optimum-value {

			}

			&::-webkit-meter-vertical-suboptimal-value {

			}

			&::-webkit-meter-vertical-even-less-good-value {

			}

			&::-moz-meter-bar {

			}

			&:-moz-meter-optimum {
				&::-moz-meter-bar {
					background: green;
				}
			}

			&:-moz-meter-sub-optimum {
				&::-moz-meter-bar {
					background: yellow;
				}
			}

			&:-moz-meter-sub-sub-optimum {
				&::-moz-meter-bar {
					background: red;
				}
			}
		}

		output {
			display: inline-block;
		}

		progress {
			appearance: none;
			background: $gray-500;
			border: none;
			color: transparent;
			display: block;
			height: $spacer;
			width: 100%;
			vertical-align: baseline;

			&[value] {
				background: $gray-500;
			}

			&:not([value]) {

				&::-webkit-progress-bar {
					background: transparent;
				}

				&::-moz-progress-bar {
					background: transparent;
				}
			}

			&:indeterminate {
				animation: progress-indeterminate 1.5s linear infinite;
				background: $gray-500 linear-gradient(to right, $black 10%, $gray-500 10%) top left/150% 150% no-repeat;
			}

			&::-webkit-progress-bar {
				background: $gray-500;
			}

			&::-webkit-progress-bar-value {

			}

			&::-webkit-progress-inner-element {

			}

			&::-webkit-progress-value {
				background: $black;
			}

			&::-moz-progress-bar {
				background: $black;
			}

			&::-ms-fill {
				background: $black;
			}
		}

		@keyframes progress-indeterminate {
			0% {
				background-position: 200% 0;
			}
			100% {
				background-position: -200% 0;
			}
		}

		// Form validation
		::-webkit-validation-bubble {

		}

		::-webkit-validation-bubble-arrow {

		}

		::-webkit-validation-bubble-arrow-clipper {

		}

		::-webkit-validation-bubble-heading {

		}

		::-webkit-validation-bubble-message {

		}

		::-webkit-validation-bubble-text-block {

		}
	}
}
