//
// Forms
//

@if $enable-my-opinion {

	form {

	}

	button {
		text-transform: none;
		-webkit-appearance: button;
		-ms-touch-action: manipulation;
		touch-action: manipulation;

		&:disabled {
			opacity: .65;
		}

		&:focus {
			outline: 0;
			text-decoration: none;
		}

		&:hover {
			text-decoration: none;
		}
	}

	[role="button"] {
		-ms-touch-action: manipulation;
		touch-action: manipulation;
	}

	fieldset {

	}

	input {

		&:not([type="range"]) {
			-ms-touch-action: manipulation;
			touch-action: manipulation;
		}

		&:placeholder-shown {

		}
		// Chrome/Opera/Safari
		&::-webkit-input-placeholder {

		}
		// Firefox 19+
		&::-moz-placeholder {

		}
		// IE 10+
		&:-ms-input-placeholder {

		}
		// Firefox 18-
		&:-moz-placeholder {

		}

		&:-webkit-autofill {

		}

		&:-webkit-autofill:hover {

		}

		&:-webkit-autofill:focus {

		}

		// ???
		&::-webkit-calendar-picker-indicator {

		}
	}

	[type="button"] {

	}

	[type="checkbox"] {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;

		&::-ms-check {
			display: none;
		}

		&:checked {

		}
	}

	[type="file"] {

		&::-ms-browse {

		}
 
		&::-ms-value {

		}

		&::-webkit-file-upload-button {

		}
	}

	[type="hidden"] {

	}

	[type="image"] {

	}

	[type="password"] {

	}

	[type="radio"] {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;

		&::-ms-check {
			display: none;
		}
	}

	[type="reset"] {
		-webkit-appearance: button;
	}

	[type="submit"] {
		-webkit-appearance: button;
	}

	[type="text"] {

		&:read-only {

		}

		&:-moz-read-only {

		}
	}

	@if $enable-html5 {

		[type="color"] {

			&::-webkit-color-swatch-wrapper {

			}

			&::-webkit-color-swatch {

			}

			&::-moz-color-swatch {

			}

			&::-moz-focus-inner {

			}
		}

		[type="date"] {
			-webkit-appearance: listbox;

			&::-webkit-datetime-edit-month-field {

			}

			&::-webkit-datetime-edit-day-field {

			}

			&::-webkit-datetime-edit-year-field {

			}

			&::-webkit-clear-button {

			}

			&::-webkit-inner-spin-button {

			}

			&::-webkit-calendar-picker-indicator {

			}
		}

		[type="datetime"] {

		}

		[type="datetime-local"] {
			-webkit-appearance: listbox;
		}

		[type="email"] {

			&:invalid {

			}

			&:valid {

			}
		}

		[type="month"] {
			-webkit-appearance: listbox;
		}

		[type="number"] {

			&:in-range {

			}

			&:out-of-range {

			}

			&::-webkit-inner-spin-button {
				height: auto;
			}

			&::-webkit-outer-spin-button {
				height: auto;
			}
		}

		[type="range"] {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			background: transparent;
			border: none;
			display: block;
			margin: 0;
			padding: 0;
			height: $spacer;
			width: 100%;

			&:focus {
				outline: none;

				&::-webkit-slider-runnable-track {

				}

				&::-ms-fill-lower {

				}

				&::-ms-fill-upper {

				}
			}

			&::-webkit-slider-runnable-track {
				background-color: $gray-500;
				border: none;
				height: $spacer;
				width: 100%;
			}

			&::-webkit-slider-thumb {
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				background-color: #000;
				border: none;
				cursor: pointer;
				height: $spacer;
				width: $spacer;
			}

			&::-moz-range-thumb {
				background-color: #000;
				border: none;
				border-radius: 0;
				cursor: pointer;
				height: $spacer;
				width: $spacer;
			}

			&::-moz-range-track {
				background-color: $gray-500;
				border: none;
				height: $spacer;
				width: 100%;
			}

			&::-ms-fill-lower {
				background-color: $gray-500;
			}

			&::-ms-fill-upper {

			}
			 
			&::-ms-tooltip {

			}
			 
			&::-ms-ticks-before {

			}
			 
			&::-ms-ticks-after {

			}
			 
			&::-ms-thumb {
				background-color: #000;
				border: none;
				cursor: pointer;
				height: $spacer;
				width: $spacer;
			}
			 
			&::-ms-track {
				background: transparent; 
				background-color: $gray-500;
				border-color: transparent;
				color: transparent;
				cursor: pointer;
				display: block;
				height: $spacer;
				width: 100%;
			}
		}

		[type="search"] {
			-webkit-appearance: none;
			outline-offset: -2px;

			&::-webkit-search-decoration {
				-webkit-appearance: none;
			}

			&::-webkit-search-cancel-button {
				-webkit-appearance: none;
			}

			&::-webkit-search-results-button {

			}

			&::-webkit-search-results-decoration {

			}
		}

		[type="tel"] {

		}

		[type="time"] {
			-webkit-appearance: listbox;
		}

		[type="url"] {

		}

		[type="week"] {

		}
	}

	label {
		-ms-touch-action: manipulation;
		touch-action: manipulation;
	}

	legend {

	}

	optgroup {

	}

	option {

	}

	select {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		text-transform: none;
		-ms-touch-action: manipulation;
		touch-action: manipulation;

		&::-ms-expand {
			display: none;
		}

		&:-webkit-autofill {

		}

		&:-webkit-autofill:hover {

		}

		&:-webkit-autofill:focus {

		}
	}

	textarea {
		overflow: auto;
		resize: vertical;
		-ms-touch-action: manipulation;
		touch-action: manipulation;

		&:-webkit-autofill {

		}

		&:-webkit-autofill:hover {

		}

		&:-webkit-autofill:focus {

		}
	}

	@if $enable-html5 {

		datalist {

		}

		keygen {

		}

		meter {
			background: none;
			background-color: $gray-500;
			border: 0;
			display: block;
			height: $spacer;
			width: 100%;

			&::-webkit-meter-bar {
				background: none;
				background-color: $gray-500;
			}

			&::-webkit-meter-inner-element {

			}

			&::-webkit-meter-optimum-value {
				background: green;
			}

			&::-webkit-meter-suboptimum-value {
				background: yellow;
			}

			&::-webkit-meter-even-less-good-value {
				background: red;
			}

			&::-moz-meter-bar {

			}

			&:-moz-meter-optimum {
				&::-moz-meter-bar {
					background: green;
				}
			}

			&:-moz-meter-sub-optimum {
				&::-moz-meter-bar {
					background: yellow;
				}
			}

			&:-moz-meter-sub-sub-optimum {
				&::-moz-meter-bar {
					background: red;
				}
			}
		}

		output {
			display: inline-block;
		}

		progress {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			background-color: $gray-500;
			border: none;
			color: $black;
			display: block;
			height: $spacer;
			width: 100%;
			vertical-align: baseline;

			&[value] {
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
			}

			&:not([value]) {
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				background-color: red;
			}

			&:indeterminate {
				background-color: red;
			}

			&::-ms-fill {
				background-color: $black;
			}

			&::-webkit-progress-bar {
				background-color: $gray-500;
			}

			&::-webkit-progress-inner-element {

			}

			&::-webkit-progress-value {
				background-color: $black;
			}

			&::-moz-progress-bar {
				background-color: $black;
			}
		}

		::-webkit-file-upload-button {
			font: inherit;
			-webkit-appearance: button;
		}
	}
}
