//
// Grouping content
//

@if $enable-my-opinion {
	blockquote, p, pre, ul, ol, figure {
		margin: 0 0 $spacer;
	}

	blockquote {

		&:before {

		}
		&:after {

		}
	}

	dd {

	}

	div {

	}

	dl {

	}

	dt {
		font-weight: 700;
	}

	hr {

	}

	p {

		&::after {

		}

		&::before {

		}

		&::first-letter {

		}

		&::first-line {

		}

		&::selection {

		}
	}

	pre {
		color: $black;
		font-family: $font-family-monospace;
		overflow: auto;
		-ms-overflow-style: scrollbar;
	}

	ul {

	}

	ol {

	}

	li {

	}

	@if $enable-html4 {
		dir {

		}
	}

	@if $enable-html5 {
		figure {

		}

		figcaption {

		}

		main {

		}
	}
}