//
// Interactive elements
//

@if $enable-my-opinion {
	menu {

	}

	@if $enable-html5 {
		details {

			&::-webkit-details-marker {

			}
		}

		dialog {

		}

		menuitem {

		}

		summary {
			display: list-item;
			-ms-touch-action: manipulation;
			touch-action: manipulation;

			&::-webkit-details-marker {

			}
		}
	}
}