//
// Interactive elements
//

@if $enable-my-opinion {

	@if $enable-html4 {
		menu {

		}

		menuitem {

		}
	}

	@if $enable-html5 {
		details {
			border: 1px solid $black;
			display: block;
			margin: 0 0 $spacer 0;
			padding: .375rem .75rem;

			&[open] {

				& > summary {
					background-color: $black;
					border-bottom: 1px solid $black;
					color: $white;
					margin-bottom: .375rem;
				}


				&:hover {

					& > summary {
						background-color: $black;
					}
				}
			}

			&:hover {

				& > summary {
					background-color: $gray-500;
				}
			}
		}

		dialog {

		}

		summary {
			background-color: $gray-400;
			cursor: pointer;
			display: list-item;
			outline: none;
			margin: -.375rem -.75rem;
			padding: .375rem .75rem;
			-ms-touch-action: manipulation;
			touch-action: manipulation;

			&::-webkit-details-marker {
				//display: none;
			}

			&::after {

			}

			&::before {

			}
		}
	}
}