//
// Tabular data
//

@if $enable-my-opinion {
	table {
		background-color: $body-bg;
		border-collapse: collapse;
		margin-bottom: $spacer;
		max-width: 100%;
		width: 100%;
	}

	caption {
		color: $text-muted;
		padding-top: $table-cell-padding;
		padding-bottom: $table-cell-padding;
		text-align: left;
		caption-side: top;
	}

	col {

	}

	colgroup {

	}

	tbody {

		& + tbody {
			border-top: (2 * $table-border-width) solid $table-border-color;
		}
	}

	td {
		border-top: $table-border-width solid $table-border-color;
		padding: $table-cell-padding;
		vertical-align: top;
	}

	tfoot {
		& td {
			border-top: (2 * $table-border-width) solid $table-border-color;
			border-bottom: $table-border-width solid $table-border-color;
			padding: $table-cell-padding;
			vertical-align: top;
		}
	}

	th {
		border-top: $table-border-width solid $table-border-color;
		padding: $table-cell-padding;
		vertical-align: top;
		text-align: inherit;
	}

	thead {

		& th {
			border-bottom: (2 * $table-border-width) solid $table-border-color;
			vertical-align: bottom;
		}
	}

	tr {

	}
}
