//
// Tabular data
//

@if $enable-my-opinion {
	table {
		width: 100%;
		max-width: 100%;
		background-color: transparent;
	}

	caption {

	}

	col {

	}

	colgroup {

	}

	tbody {

	}

	td {

	}

	tfoot {

	}

	th {

	}

	thead {

	}

	tr {

	}
}