// Options
$enable-my-opinion: true !default;

//
$enable-reset:      false !default;
$enable-html4:      false !default;
$enable-html5:      true !default;

//
$enable-scrollbar:  false !default;

// Reset HTML elements
@import "my-opinion_import";