// Options
$enable-normalize:    true !default;
$enable-normalize-v7: false !default;
$enable-normalize-v6: false !default;
$enable-normalize-v5: false !default;
$enable-normalize-v4: false !default;
$enable-normalize-v3: false !default;
$enable-normalize-v2: false !default;
$enable-normalize-v1: true !default;
$enable-html4:        false !default;
$enable-html5:        true !default;

// Normalize HTML elements
@import "normalize_import";